.red{
  -webkit-filter: invert(40%) grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-50deg) saturate(400%) contrast(2);
  filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-50deg) saturate(600%) contrast(0.8);
}
.green{
  -webkit-filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(50deg) saturate(1000%) contrast(0.8);
  filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(50deg) saturate(1000%) contrast(0.8);
}
.white{
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

/************************************************************************************
  Media viewer
*************************************************************************************/
#mt-super-modal{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 0%;
  height: 100%;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity 0.5s linear;
}

#mt-modal-body{
	position: fixed;
	top: 50%;
	left: 50%;
	display: inline-block;
	-ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.media-container{
	position: relative;
}

.media-container video, .media-container img, .media-container iframe{
	height: 90%;
	height: 90vh;
}

.media-container iframe{
  width: 400px;
  background-color: #FFFFFF;
  border-radius: 12px;
}

.modal-controls div{
  position: absolute;
  width: 20px;
  height: 20px;
	top: 0;
	right: 0;
	z-index: 10000;
  background: rgba(0, 0, 0, 0.38);
	cursor: pointer;
  overflow: hidden;
}

.modal-controls div img{
  position: absolute;
  width: 364px;
  height: 350px;
  top: -257px;
  right: -51px;
}

.hide { display: none; }
.show { display: block; }

/************************************************************************************
AVATAR TOOLBAR
************************************************************************************/
.mt-avatar-overlay{
  background: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 110%;
  position: absolute;
  z-index: 1;
  top: -15px;
  border-radius: 50%;
}

.mt-stories-launcher{
  cursor: pointer;
  left: 50%;
  width: 165px;
  position: absolute;
  height: 165px;
  background: rgba(0,0,0,0.5);
  border: none;
  margin-left: -82px;
  top: 5px;
  border-radius: 50%;
  outline: none;
}

.mt-avatar-toolbar{
  display: block;
  position: absolute;
  top: 155px;
  left: 50%;
  margin-left: -24px;
}

.mt-avatar-toolbar div{
  display: block;
  float: left;
  width: 24px;
  height: 24px;
  background: rgba(0, 0, 0, 1);
  border-radius: 50%;
  overflow: hidden;
}

.mt-control-avatar-max{
  position: absolute;
  bottom: -64px;
  left: -572px;
  width: 600px;
  cursor: zoom-in;
}

.mt-control-incognito-indicator{
  position: absolute;
  left: -153px;
  bottom: -46px;
  cursor: help;
}

/************************************************************************************
POSTS TOOLBAR
************************************************************************************/
.mt-toolbar{
  position: absolute;
  display: block;
  z-index: 1;
  padding: 3px;
}
.mt-toolbar div {
  display: block;
  position: relative;
  width: 24px;
  height: 24px;
  float: left;
  background: rgba(0, 0, 0, 0.38);
  margin-right: 3px;
  overflow: hidden;
  cursor: pointer;
}
.mt-control-fullscreen{
  position: absolute;
  top: -326px;
  left: -104px;
}
.mt-control-download{
  position: absolute;
  top: -300px;
  left: -181px;
}
